	body{
		text-align: center;
		font-family: Tahoma, Arial, Geneva, sans-serif;
		color:#797979;
	}

	#cont{
		width: 90%;
		margin: 0 auto 0 auto;
		text-align: left;
	}

	#encabezado{
		height: 65px;
		width: 500px;
		margin-bottom: 30px;
		background: url(ciec.png) no-repeat;
		overflow: hidden;
		text-indent: -9999%;
		display: block;
	}

	#head {
		margin: 10px auto;
		padding: 10px 10px;
		width: 100%;
		background: #3f65b7;
		background-clip: padding-box;
		border: 1px solid #172b4e;
		border-bottom-color: #142647;
		border-radius: 5px;
		background-image: -webkit-radial-gradient(cover, #437dd6, #3960a6);
		background-image: -moz-radial-gradient(cover, #437dd6, #3960a6);
		background-image: -o-radial-gradient(cover, #437dd6, #3960a6);
		background-image: radial-gradient(cover, #437dd6, #3960a6);
		-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
		box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
	}

     #head h1 {
		margin-bottom: 10px;
		font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;
		font-size: 20px;
		font-weight: bold;
		color: white;
		text-align: center;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
	}

    #head h2 {
		margin-bottom: 20px;
		font-size: 10px;
		font-weight: bold;
		color: white;
		text-align: center;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
	}


	#contenido{
		width: 900px;
		margin-bottom: 50px;
        }

	#contenido h2{
		font-size: 18px;
		color: #464545;
		font-weight: normal
	}

	#contenido h2 span{
		 color: #a7a7a7;
	}

	#contenido p{
		font-size: 15px;
		font-weight: bold
	}

	#menu{
		width: 700px;
		height: 32px;
		overflow: hidden;
		margin-bottom: 30px;
		text-transform: uppercase;
		border-radius: 8px;
		background: #ccc;
		text-align:center;
		/*margin: 10px auto 30px;*/
	}

	#menu a{
		display: inline-block;
		width: 150px;
		height: 34px;
		box-sizing: border-box;
		/*padding: 10px 5px*/
		color: #fff;
		text-decoration: none;
		font-size: 13px;
		color: #464545;
		padding-top: 8px;
		/*border-right: 2px solid #e93700;
		border-left: 2px solid #e93700;
		position: relative;
		z-index: 2;*/
	}

	#menu a:hover{
		color: #e93700
	}

	#fotos{
		width: 450px;
	}

	#fotos div{
		width: 200px;
		height: 120px;
		float: left;
		margin: 10px 9px 15px 9px;
		background: silver;
	}

	div#foto1{
		overflow: hidden;
		display: block;
		text-indent: -999%;
		background: url(vigilanciabb.jpg) no-repeat;
	}

	div#foto2{
		overflow: hidden;
		display: block;
		text-indent: -999%;
		background: url(limpiezab.jpg) no-repeat;
	}

	div#foto3{
		overflow: hidden;
		display: block;
		text-indent: -999%;
		background: url(mantenimientob.jpg) no-repeat;
	}

	div#foto4{
		overflow: hidden;
		display: block;
		text-indent: -999%;
		background: url(asesorialegalb.jpg) no-repeat;
	}

	div#foto div{
		overflow: hidden;
		display: block;
	}

	#pie{
		height: 296px;
		clear: both;
		background: url(administracionb.png) no-repeat;
		background-position: bottom right;
        }

	#pie h2{
		font-size: 18px;
		color: #464545;
		font-weight: normal
	}

	#pie h2 span{
		color: #a7a7a7;
	}

	#pie p{
		text-align: center;
		font-size: 13px;
		padding-top: 10px;
		clear: both;
	}

	#foot{
		height: 296px;
		clear: both;
        }

	#foot h2{
		font-size: 18px;
		color: #464545;
		font-weight: normal
	}

	#foot h2 span{
		color: #a7a7a7;
	}

	#foot p{
		text-align: center;
		font-size: 13px;
		padding-top: 10px;
		clear: both;
	}


	input, textarea, select, label {
		font-family: inherit;
		font-size: 12px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#login {
		margin: 50px auto;
		padding: 18px 20px;
		width: 200px;
		background: #3f65b7;
		background-clip: padding-box;
		border: 1px solid #172b4e;
		border-bottom-color: #142647;
		border-radius: 5px;
		background-image: -webkit-radial-gradient(cover, #437dd6, #3960a6);
		background-image: -moz-radial-gradient(cover, #437dd6, #3960a6);
		background-image: -o-radial-gradient(cover, #437dd6, #3960a6);
		background-image: radial-gradient(cover, #437dd6, #3960a6);
		-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
		box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
	}

	#login h1 {
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: bold;
		color: white;
		text-align: center;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
	}

	.login-input {
  		display: block;
  		width: 100%;
		height: 37px;
  		margin-bottom: 20px;
  		padding: 0 9px;
  		color: white;
  		text-shadow: 0 1px black;
  		background: #2b3e5d;
  		border: 1px solid #15243b;
  		border-top-color: #0d1827;
  		border-radius: 4px;
  		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  		background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
  		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
	}

	.login-input:focus {
  		outline: 0;
  		background-color: #32486d;
  		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
  		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
	}

	.lt-ie9 .login-input {
  		line-height: 35px;
	}

	.login-submit {
  		display: block;
  		width: 100%;
  		height: 37px;
  		margin-bottom: 15px;
  		font-size: 14px;
  		font-weight: bold;
  		color: #294779;
  		text-align: center;
  		text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  		background: #adcbfa;
  		background-clip: padding-box;
  		border: 1px solid #284473;
  		border-bottom-color: #223b66;
  		border-radius: 4px;
  		cursor: pointer;
  		background-image: -webkit-linear-gradient(top, #d0e1fe, #96b8ed);
  		background-image: -moz-linear-gradient(top, #d0e1fe, #96b8ed);
  		background-image: -o-linear-gradient(top, #d0e1fe, #96b8ed);
  		background-image: linear-gradient(to bottom, #d0e1fe, #96b8ed);
  		-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
  		box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
	}

	.login-submit:active {
  		background: #a4c2f3;
  		-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
  		box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
	}

	.login-help {
  		text-align: center;
	}

	.login-help > a {
  		font-size: 11px;
  		color: #d4deef;
  		text-decoration: none;
  		text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
	}

	.login-help > a:hover {
  		text-decoration: underline;
	}

nav  {
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
}

nav ul {
    margin: 5px 0 5px 0;
    padding: .7em;
    float: left;
    list-style: none;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: .5em;
    box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;
}

nav li {
    float:left;
}

nav a {
    float:left;
    padding: .8em 1.5em;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: linear-gradient(#f5f5f5, #c1c1c1);
 }

nav a:hover, nav a:focus {
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: #3f65b7;
    background: linear-gradient(#3f65b7, #3f65ff);
}

nav a:active {
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}

nav li:first-child a {
    border-left: 0;
    border-radius: 4px 0 0 4px;
}

nav li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
}

table.paleblue {
    border-collapse: collapse;
    border-color: #CCC;
    border: 1px solid #DDD;
}

table.paleblue,
table.paleblue +  ul.pagination {
    font: normal 11px/14px 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
}

table.paleblue a:link,
table.paleblue a:visited,
table.paleblue + ul.pagination > li > a {
    color: #5B80B2;
    text-decoration: none;
    font-weight: bold;
}

table.paleblue a:hover {
    color: #036;
}

table.paleblue td,
table.paleblue th {
    padding: 5px;
    line-height: 13px;
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #DDD;
    text-align: left;
}

table.paleblue thead th:first-child,
table.paleblue thead td:first-child {
    border-left: none !important;
}

table.paleblue thead th,
table.paleblue thead td {
    background: #FCFCFC url('img/header-bg.png') left bottom repeat-x;
    border-bottom: 1px solid #DDD;
    padding: 2px 5px;
    font-size: 11px;
    vertical-align: middle;
    color: #666;
}

table.paleblue thead th > a:link,
table.paleblue thead th > a:visited {
    color: #666;
}

table.paleblue thead th.orderable > a {
    padding-right: 20px;
    background: url('img/arrow-inactive-up.png') right center no-repeat;
}
table.paleblue thead th.orderable.asc > a {
    background-image: url('img/arrow-active-up.png');
}
table.paleblue thead th.orderable.desc > a {
    background-image: url('img/arrow-active-down.png');
}

table.paleblue tr.odd {
    background-color: #EDF3FE;
}

table.paleblue tr.even {
    background-color: white;
}

table.paleblue + ul.pagination {
    background: white url('img/pagination-bg.gif') left 180% repeat-x;
    overflow: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid #DDD;
    list-style: none;
}

table.paleblue + ul.pagination > li {
    float: left;
    line-height: 22px;
    margin-left: 10px;
}

table.paleblue + ul.pagination > li:first-child {
    margin-left: 0;
}

table.paleblue + ul.pagination > li.cardinality {
    float: right;
    color: #8d8d8d;
}

table.paleblue > tbody > tr > td > span.true,
table.paleblue > tbody > tr > td > span.false {
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    overflow: hidden;
    text-indent: -200px;
    width: 10px;
}

table.paleblue > tbody > tr > td > .missing {
    background: transparent url('img/missing.png') right center no-repeat;
    color: #717171;
    padding-right: 20px;
}

table.paleblue > tbody > tr > td > .missing:hover {
    color: #333;
}

table.paleblue > tbody > tr > td > span.true {
    background-image: url('img/true.gif');
}

table.paleblue > tbody > tr > td > span.false {
    background-image: url('img/false.gif');
}

div.table-container {
    display: inline-block;
}
