<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
 		<title>CIEC</title>
 		<link rel="stylesheet" media="screen" href="/static/layout_def.css" type="text/css" />
	</head>
	<body>
 		<div id="cont">
 			<div id="head">
 				<h1>Administración de condominios, control de ingresos y egresos</h1>
 			</div>
			<div id="contenido">
				{% block content %}{% endblock %}
 			</div>
 			<div id="foot">
	 			<p>
	 				<a href="mailto:danielcruzmx@hotmail.com">Envia correo</a>
	 			</p>
 			</div>
 		</div>
	</body>
</html>