<!DOCTYPE html>
<html lang="es">
<head>

  <title>Vigo-AdCon</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap-3.3.6-dist/css/bootstrap.min.css">
  <link href="/static/css/misestilos.css" rel="stylesheet">
  <link href="/static/css/sticky-footer.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted"> VIGO </h3>
            <nav class="navbar navbar-default">
                <ul class="nav nav-pills pull-left">
                    <li role="presentation"><a href="/"><i class="glyphicon glyphicon-home"></i> Inicio</a></li>
                        <li class="dropdown">
                            <a href="/movtos" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="glyphicon glyphicon-transfer"></i> Movimientos
                            </a>
                            <ul class="dropdown-menu">
                                    <li><a href="/movtos/bancos">Bancos</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/movtos/cuotas">Cuotas</a></li>
                            </ul>
                        </li>
                        <li role="presentation"><a href="/products"><i class="glyphicon glyphicon-print"></i> Reportes </a></li>
                        <li role="presentation"><a href="/admin"><i class="glyphicon glyphicon-hdd"></i> Catalogos</a></li>
                        <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="glyphicon glyphicon-user">Usuario</i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="accounts/logout/">Salir</a></li>
                                </ul>
                        </li>
                </ul>
            </nav>
        </div>


        <div id="contenido">
		    {% block content %}{% endblock %}
 	    </div>

<!--
    <div class="container-fluid bg-2 text-center">
        <h3>Acerca de mi</h3>
        <p>
           Programador desde hace 30 años, inicie como docente enseñando a programar con Fortran IV, Lenguaje C y Prolog.
           De 1994 a 1998 desarrolle sistemas para el control escolar y la gestión de recuros humanos con dBase IV y Clipper 5.
           Hoy dia trabajo para la Administración Publica, doy mantenimiento a un sistema de nomina que ha tenido exito en dos Secretarias de Estado y se ha mantenido en operacion durante 15 años.
           La aplicación empezo a operar en el año 2000 con un modelo cliente servidor VisualBasic-Informix, programe los modulos de calculo y control de acceso,
            con el tiempo realice mejoras al modulo de calculo con VBNet.
            En su ultima actualización como aplicacion Web Java-Oracle participe en el diseño y la programación de algunos modulos.
        </p>
    </div>

    <div class="container-fluid bg-3 text-center">
        <h3>Where To Find Me?</h3>
        <div class="row">
            <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="/static/img/cenac_1964.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="/static/img/iclme29.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="/static/img/ipne16.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>
        </div>
    </div> -->
    </div>

    <footer class="footer">
       <div class="container">
           <p>&copy; Dcch 2016</p>
        </div>
    </footer>

</body>


  <script src="/static/js/jquery-1.12.3.min.js"></script>
  <script src="/static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

</body>
</html>
