{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block content %}
    <div id="content-main">
        <div class="panel-heading">
            <h3 class="panel-title">{{titulo}} {{ table.1.depto }} {{ table.1.propietario }} al {{ current_date }} </h3>
        </div>
        <div class="panel-body">
            <div class="table-container">
                <table class="paleblue">
                    <thead>
                        <tr>
                            {% for k in keys %}
                                <th>{{k | title}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in table %}
                            <tr>
                                <td>{{ c.inicio }}</td>
                                <td>{{ c.fin }}</td>
                                <td>{{ c.monto }}</td>
                                <td>{{ c.pago }}</td>
                                <td>{{ c.adeudo }}</td>
                                <td>{{ c.tipo }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}