{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{{ site_url }}"> Vigo Ingresos y Egresos</a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{titulo}}</h3>
        </div>
        <div class="panel-body">
            <div class="table-container">
                <table class="paleblue">
                    <thead>
                        <tr>
                            {% for k in keys %}
                                <th>{{k}}</th>
                            {% endfor %}
                            <th>
                                Descarga
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in table %}
                            <tr>
                                <td>{{ c.id }}</td>
                                <td>{{ c.titulo }}</td>
                                <td>{{ c.descripcion }}</td>
                                <td>
                                    <a href="/explorer/{{c.id}}/download"><i class="glyphicon glyphicon-circle-arrow-down"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}